@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;1,300;1,400&family=Roboto+Slab:wght@300&family=Roboto:wght@500&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");
body {
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
}

.form-control:focus,
.form-control-rental:focus {
    color: #212529;
    background-color: #fff;
    border-color: var(--imput-hover-text-form-color);
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgb(var(--imput-hover-text-form-color) / 25%);
}
.form-control.is-invalid,
.form-control-rental.is-invalid {
    border-color: var(--color-error-input);
    padding-right: calc(1.5em + 0.75rem);
    background-repeat: no-repeat;
    background-position: right calc(0.375em + 0.1875rem) center;
    background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
}

.nav {
    display: flex;

    padding: 14px 20px;
    font-size: 16px;
    margin: 0;
}
.nav-item {
    list-style-type: none;
}
.nav-link {
    text-decoration: none;
    color: var(--nav-text-color);
    margin-right: 35px;
}

.nav-item.user {
    cursor: pointer;
    padding-bottom: 5px;
}
.user-icons {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #fff;
    border: 1px solid black;
    margin-left: 10px;
    float: right;
    margin-bottom: 0px;
    margin-top: -4px;
}
.header {
    display: flex;
    justify-content: space-between;
    background: var(--nav-header-booking-color);
    box-shadow: 4px 6px 12px var(--nav-rgb-color);
    height: 60px;
    align-items: center;
}
.register {
    padding-left: 0;
    margin-right: 65px;
}
.loging {
    text-align: center;
    margin-top: 100px;
    font-size: 40px;
    color: cadetblue;
}
.active {
    display: flex;
}
.loading {
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    color: var(--color-loading);
    height: 100vh;
}

.admin-stat-money {
    padding-right: 10px;
    width: 300px;
    margin-top: 24px;
    padding-left: 15px;
}
.float-l {
    float: left;
    margin-bottom: 2px;
}
.float-r {
    margin-left: 15px;
    float: right;
}

.img {
    width: 500px;
    height: 300px;
}
.booking-product {
    margin-top: 58px;
    margin-bottom: 58px;
}
.booking-title {
    color: var(--booking-text-color);
    text-align: center;
    margin-bottom: 30px;
}
.booking-container {
    display: flex;
    justify-content: space-around;
    background: var(--booking-background-color);
}
.booking-text {
    font-size: 30px;
    width: 200px;
    color: var(--input-text-rental-color);
    text-align: center;
    margin-top: 20px;
}
.booking-button {
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    border: 2px solid var(--button-booking-border-color);
    background: var(--button-booking-background-color);
    color: var(--button-tbod-text-statistics-color);
    width: 100%;
    padding: 5px 0 5px 0;
}

.modal {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    bottom: 0;
    justify-content: center;
    align-items: center;
}

.modal-back {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.6;
}

.modal.active {
    display: flex;
}

.delete-modal {
    background: var(--row-background-form-color);
    padding: 20px;
}

.delete-modal__question {
    font-size: 18px;
    margin: 0;
    color: var(--row-text-form-color);
}
.hr {
    margin-bottom: 20px;
}
.delete-modal__button {
    cursor: pointer;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 14px;
    transition: 0.3s ease;
    background-color: #ed6755;
    width: 200px;
    box-shadow: 0px 6px 18px -5px rgb(237 103 85);
}

.delete-modal {
    z-index: 9999;
    pointer-events: auto;
    border-radius: 20px;
    width: 23%;
    padding: 20px;
}

.dropdown-menu {
    display: none;
    position: absolute;
    margin-left: -285px;
    background: var(--nav-background-color);
    border: 1px solid rgba(0, 0, 0, 0.175);
    border-radius: 0.375rem;
}

.dropdown-menu-user {
    display: none;
    position: absolute;
    background: #fff;
    border: 1px solid rgba(0, 0, 0, 0.175);
    border-radius: 0.375rem;
    margin-left: 12px;
}
.dropdown-menu-jobs {
    display: none;
    position: absolute;
    background: #fff;
    border: 1px solid rgba(0, 0, 0, 0.175);
    border-radius: 0.375rem;
    margin-left: 25px;
}
.dropdown-menu-user.show,
.dropdown-menu-jobs.show,
.dropdown-menu.show {
    display: block;
}
.dropdown-menu .dropdown-item {
    border-left: 1px solid rgba(0, 0, 0, 0.175);
}

.dropdown-toggle {
    margin-right: 30px;
    display: flex;
    align-items: center;
}
.admin-form {
    display: flex;
}
.dropdown-item {
    display: block;
    padding: 7px 10px 8px 10px;
    text-decoration: none;
    margin: 3px 0 3px 0px;
    color: #000;
}
.dropdown-item:hover {
    background: var(--nav-hoover-background-color);
}
.me-2 {
    margin-right: 12px;
    color: var(--nav-text-color);
}
