@media (max-width: 1023.98px) {
    .slider {
        width: 632px !important;
    }
}
@media (max-width: 768px) {
    .slider {
        width: 320px !important;
    }
    .slider-button i {
        display: none;
    }
    .logo-text {
        text-align: center;
    }
}

.home-container {
    height: 100vh;
    display: flex;
    gap: 30px;
    flex-direction: column;
    flex: 1 0;
    gap: 30px;
}
.slider-contaimer {
    height: 390px;
    display: flex;
    flex: 1 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.slider {
    border: 1px solid #dede;
    background: #dede;
    width: 940px;
    height: 390px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.logo-contaimer {
    height: 10vh;
    display: flex;
    justify-content: center;
    flex: 1 0 50px;
    margin-top: 30px;
}
.item {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}
.item-img {
    width: 300px;
    height: 280px;
}
.content {
    background: beige;
    height: 50px;
    display: flex;
    justify-content: center;
}
.slider-line {
    display: flex;
    position: relative;
    transition: all ease 1s;
}
.slider-button {
    margin-right: 10px;
}
.block-information-sliders {
    justify-content: space-between;
    display: flex;
    margin-left: 10px;
}
.block-information-sliders p {
    margin: 0;
}
.slider-text {
    color: #111;
}
.logo-text {
    color: #111;
    margin: 10px 0 10px 0;
}
.bi-caret-right-fill,
.bi-caret-left-fill {
    color: #111;
}
