.home-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.slider-contaimer {
    height: 390px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.slider {
    border: 1px solid var(--slider-background);
    background: var(--slider-background);
    width: 940px;
    height: 390px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.logo-contaimer {
    height: 10vh;
    display: flex;
    justify-content: center;
}
.item {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}
.item-img {
    width: 300px;
    height: 280px;
}
.content {
    background: beige;
    height: 50px;
    display: flex;
    justify-content: center;
}
.slider-line {
    display: flex;
    position: relative;
    transition: all ease 1s;
}
.slider-button {
    margin-right: 10px;
}
.block-information-sliders {
    justify-content: space-between;
    display: flex;
    margin-left: 10px;
}
.block-information-sliders p {
    margin: 0;
}
.slider-text {
    color: var(--booking-text-color);
}
.logo-text {
    color: var(--booking-text-color);
}
.bi-caret-right-fill,
.bi-caret-left-fill {
    color: var(--slider-button);
}
